<div class="mainContainer">
    <h3 (click)="closeThread()">X</h3>
    <div class="head">
        <h1>Threads</h1>
        <span># {{ this.data.clickedChat.name }} </span>
    </div>

    <div class="msgThread">
        <div>
            <p class="authorMSG"> <img class="img" src="{{ this.data.clickedMsg.userImg }}" alt=""> {{ this.data.clickedMsg.author }}</p>
            <p>{{ this.data.clickedMsg.timeStamp | date :'short' }}</p>
        </div>
        <p>{{ this.data.clickedMsg.text }}</p>

    </div>


    <div class="allMSGs">
        <div class="writeMSG" *ngFor="let msg of data.threads">
            <p> {{ msg.text }} </p>
            <img src="{{msg.file}}" alt="">
        </div>
    </div>



    <div class="textArea_container">
        <textarea placeholder="Write message " id="text " cols="15 " rows="5 " type="text " name="message " [(ngModel)]="message"></textarea>
        <button (click)="showThreadMessage()">Send</button>
        <input type="file" [(ngModel)]="fileVal" (change)="onFileSelected($event)" accept="*.png.jpg">
    </div>

</div>