.mainContainer {
    width: 550px;
    position: relative;
    height: 100vh;
    color: white;
    h3 {
        position: absolute;
        top: 6px;
        right: 90px;
        background-color: #fbb03c;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 24px;
        cursor: pointer;
        color: #000;
        transition: all 75ms ease-in-out;
        &:hover {
            background-color: #fcc571;
        }
    }
}

.head {
    display: flex;
    align-items: center;
    padding: 8px;
    h1 {
        margin: 0;
        padding-right: 8px;
    }
}

.img {
    width: 30px;
    height: 30px;
}

.textArea_container {
    position: absolute;
    bottom: 16px;
    right: 16px;
    left: 16px;
    width: 100%;
    button {
        padding: 8px 50px;
        background-color: #fbb03c;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
}

textarea {
    background-color: gainsboro;
    border-radius: 7px;
    padding: 2px;
    background-color: gainsboro;
    width: calc(100% - 85px);
}

.msgThread {
    max-width: 450px;
    word-break: break-all;
    padding-left: 16px;
    margin-bottom: 32px;
}

.writeMSG {
    max-width: 450px;
    word-break: break-all;
    padding-left: 16px;
}

.authorMSG {
    display: flex;
    align-items: center;
}

.allMSGs {
    height: 56vh;
    overflow-y: auto;
}