<div class="mainContainer">
    <h3 (click)="closeThread()">X</h3>
    <div class="head">
        <h1>Threads</h1>
        <span># {{ this.data.clickedChat.name }} </span>
    </div>
    <p> <img class="img" src="{{ this.data.clickedMsg.userImg }}" alt=""> {{ this.data.clickedMsg.author }}</p> <br>
    <p>{{ this.data.clickedMsg.text }}</p>
    <p>{{ this.data.clickedMsg.timeStamp | date :'short' }}</p>

    <div *ngFor="let msg of threads">
        <p> {{ msg.text }} </p>

    </div>


    <div class="textArea_container">
        <textarea placeholder="Write message " id="text " cols="15 " rows="5 " type="text " name="message " [(ngModel)]="message"></textarea>
        <button (click)="showThreadMessage()">Send ICON</button>
    </div>

</div>