<div class="allChannels" *ngIf="authService.userData as user">

    <div>


        <div class="nameContainer" *ngFor="let us of test; let i= index">

            <!-- <button>Send</button> #{{ us.email }} //// -->
            <a (click)="showDms(us)" [routerLink]="'/chats/' + us.uid"> #{{ us.email }} </a>
        </div>


        <div>

            <!-- <h2>User ID: <strong>{{user.uid}}</strong></h2>

            <h2>User ID: <strong>{{user.email}}</strong></h2> -->
        </div>
    </div>


</div>