<div class="allChannels" *ngIf="authService.userData as user">

    <div *ngFor="let us of test; let i= index">


        <div class="nameContainer" *ngFor="let us of test; let i= index">

            <!-- <button>Send</button> #{{ us.email }} //// -->
            <a (click)="showDms(us)" [routerLink]="'/chats/' + user.uid"> #{{ us.email }} </a>
        </div>


        <div *ngIf="user.email || user.uid ==  this.authService.userData.multiFactor.user.email || this.authService.userData.multiFactor.user.uid">

            <h2>User ID: <strong>{{user.uid}}</strong></h2>

            <h2>User ID: <strong>{{user.email}}</strong></h2>
        </div>
    </div>


</div>