<!-- <div>
    <app-chats *ngFor="let new of this.data.newChanells let i = index" [name]="new"> </app-chats>
</div> -->
<div class="test">
    <div class="main_container">
        <div class="child_container">
            <h2>Channels</h2>
            <button (click)="openDialog()">+</button>
        </div>
        <div *ngFor="let newChanel of chats.chats_name ; let i = index">
            <mat-button-toggle [routerLink]="'chats/' +i" (click)="newChanelIndex(newChanel)"> #{{ newChanel }} </mat-button-toggle>

        </div>
    </div>

    <div>

      <router-outlet></router-outlet>
    </div>


</div>