<div class="test" *ngIf="authService.userData as user">
    <div class="main_container">
        <div class="child_container">
            <h2>Channels</h2>
            <button (click)="openDialog()">+</button>
        </div>
        <div class="allChannels">
            <div class="nameContainer" *ngFor="let chat of chats; let i = index">
                <a (click)="reactiveDm()" [routerLink]="'/chats/' + chat.id"> #{{ chat.name }} </a>
            </div>


        </div>

        <div class="child_container">
            <h2>DMs</h2>
        </div>
        <div class="allChannels">
            <div class="nameContainer" *ngFor="let users of users; let i = index">

                <a (click)="activeDm()" [routerLink]="'/chats/' + users.id"> #{{ users.email }} </a>
                <p>ID: {{ users.id}} </p>
                <p>UID: {{users.uid}} </p>

            </div>


            <p>Email: <strong>{{user.email}}</strong></p>

            <p>Uid: <strong>{{user.uid}}</strong></p>

            <p>Id: <strong>{{user.id}}</strong></p>

            <div class="outContainer">
                <button (click)="authService.SignOut()" class="logOut">Log out</button>
            </div>
        </div>


    </div>



    <!-- <div class="row">
        <div class="col-md-12">
            <div class="media"> -->
    <!-- <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}"> -->
    <!-- <div class="media-body"> -->
    <!-- <p>User ID: <strong>{{user.uid}}</strong></p>
                   
                    <p>Email Verified: <strong>{{user.emailVerified}}</strong></p> -->
    <!-- </div>
            </div>
        </div> -->


    <!-- <div>
        <router-outlet></router-outlet>
    </div> -->


</div>