.main_container {
    width: 15vw;
    height: 100vh;
    border-right: 1px solid white;
    background-color: #77529f;
    padding: 0 16px;
    mat-tree {
        background-color: #22272e;
        button {
            background-color: #22272e;
        }
        mat-tree-node {
            color: white;
        }
    }
}

.child_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
    h2 {
        margin: 0;
        font-size: 32px;
        color: white;
    }
    button {
        background-color: #fbb03c;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 24px;
        cursor: pointer;
        transition: all 75ms ease-in-out;
        &:hover {
            background-color: #fcc571;
        }
    }
}

.test {
    display: flex;
    justify-content: space-between;
}

.nameContainer {
    margin-bottom: 32px;
    cursor: pointer;
    color: black;
    padding: 8px;
    transition: all 75ms ease-in-out;
    border-radius: 4px;
    a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    &:hover {
        background-color: #ffffff36;
    }
}

.allChannels {
   height: 800px;
    overflow-y: auto;
}

.outContainer {
    display: flex;
    justify-content: center;
}

.logOut {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 8px 50px;
    background-color: #ba0000b8;
    color: white;
}