.main_container {
    width: 300px;
    height: 100vh;
    border-right: 1px solid black;
    background-color: #22272e;
    color: white;
    padding: 0 16px;
    mat-tree {
        background-color: #22272e;
        button {
            background-color: #22272e;
        }
        mat-tree-node {
            color: white;
        }
    }
}

.child_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        cursor: pointer;
    }
}

.test {
    display: flex;
    justify-content: space-between;
}