<div class="main_container">

    <div>



        <span *ngFor="let title of data.nameChanel"> {{ title }} </span>




        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, repudiandae, ratione vel numquam dolores, quae minus natus tempore quos quisquam non corrupti eum adipisci! Aspernatur iste optio odit similique vero!
        </h1>



        <ul>
            <li>
                {{ chatId }}
            </li>
        </ul>

        <ul>
            <li *ngFor="let message of message">
                {{ message.text }}
            </li>
        </ul>


        <div class="textArea_container">
            <textarea (keyup.enter)="showtext()" placeholder="Write message" id="text" cols="15" rows="5" type="text" name="message" [(ngModel)]="message"></textarea>
            <!-- <button (click)="showNameChat(nameChat)">Send ICON</button> -->
        </div>

    </div>
</div>